doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Sebastian T. Vincent

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Sebastian T. Vincent
                button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#research') Research
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#about') About
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#footer') Contact

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='assets/img/main.jpg', alt='')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 Sebastian T. Vincent
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 PhD student at the University of Sheffield

        // Research Section
        section#research.page-section.research
            .container
                // Research Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Research
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Research Grid Items
                .row.justify-content-center
                    // Research Item 1
                    .col-md-6.col-lg-4.mb-5
                        .research-item.mx-auto(data-toggle='modal', data-target='#researchModal1')
                            .research-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .research-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            p.d-flex.align-items-center.justify-content-center.text-white
                                | PhD Project
                    // Research Item 2
                    .col-md-6.col-lg-4.mb-5
                        .research-item.mx-auto(data-toggle='modal', data-target='#researchModal2')
                            .research-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .research-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            p.d-flex.align-items-center.text-center.text-white
                                | Research Interests
                    // Research Item 3
                    .col-md-6.col-lg-4.mb-5
                        .research-item.mx-auto(data-toggle='modal', data-target='#researchModal3')
                            .research-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .research-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            p.d-flex.align-items-center.justify-content-center.text-white
                                | Publications

        // About Section
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // About Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-white About
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // About Section Content
                .row
                    .col-lg-4.ml-auto
                        p.lead
                            | My name is Sebastian T. Vincent. I am currently a PhD student at the University of Sheffield, working on Personalising Document-level Machine Translation for Dialogue under the supervision of
                            a.link(href='https://www.sheffield.ac.uk/dcs/people/academic/carolina-scarton') Carolina Scarton
                            | and
                            a.link(href='https://www.sheffield.ac.uk/dcs/people/academic/loic-barrault') Loic Barrault
                            | .
                    .col-lg-4.mr-auto
                        p.lead
                            | Originally from Poland, I came from a Maths and Computer Science background (with the focus on algorithmic problem solving) to study AI & Computer Science at the University of Sheffield in the UK. Having graduated in 2019, I am now part of the first cohort of the Speech and Language Technologies and their Applications CDT in Sheffield. I’m also a tutor in programming and University-level Computer Science.

                    .col-lg-4.mr-auto
                        p.lead
                            | My primary hobby is my movement practice, which over the past 5 years has taken various forms, ranging from calisthenics and weight lifting to dancing and yoga. I also enjoy reading philosophy books - my favourite modern theorist being Slavoj Žižek - and playing board games.

                // About Section Button
                .text-center.mt-4
                    a.btn.btn-xl.btn-outline-light(href='assets/pdf/ST_Vincent_resume.pdf')
                        i.fas.fa-download.mr-2
                        | CV

        // Footer
        footer#footer.footer.text-center
            .container
                .row
                    // Footer Contact
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Contact
                        p.lead.mb-0
                                | stvincent1@sheffield.ac.uk
                    // Footer Location
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Location
                        p.lead.mb-0
                            | Regent Court
                            br
                            | Department of Computer Science University of Sheffield
                            br
                            | 211 Portobello, Sheffield
                            br
                            | S1 4DP, UK
                    // Footer Social Icons
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Around the Web
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://github.com/st-vincent1')
                            i.fab.fa-fw.fa-github
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://twitter.com/__stvincent')
                            i.fab.fa-fw.fa-twitter
                        a.btn.btn-outline-light.btn-social.mx-1(href='assets/pdf/ST_Vincent_resume.pdf')
                                | CV
        // Copyright Section
        div.copyright.py-4.text-center.text-white
            .container
                small Copyright © Sebastian T. Vincent 2020
        // Scroll to Top Button (Only visible on small and extra-small screen sizes)
        .scroll-to-top.d-lg-none.position-fixed
            a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
                i.fa.fa-chevron-up

        // Research Modals

        // Research Modal 1
        #researchModal1.research-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='researchModal1Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Research Modal - Title
                                    h2.research-modal-title.text-secondary.text-uppercase.mb-0#researchModal1Label PhD Project
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Research Modal - Text
                                    p.mb-5
                                        | In my PhD project, under the working title “Personalising Document-level Machine Translation for Dialogue”, my supervisors and I strive to address problems related to phenomena in text which are poorly translated by modern MT systems. Specifically, we work on increasing document cohesion in the translated text, as well as incorporate extra-textual information (e.g. speaker gender) into the translation process. We also aim to bring awareness to the community about the importance of document-level evaluation of translation.
                                        | This PhD is realised in partnership with the industry partner ZOO Digital.

                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Research Modal 2
        #researchModal2.research-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='researchModal2Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Research Modal - Title
                                    h2.research-modal-title.text-secondary.text-uppercase.mb-0#researchModal2Label Research Interests
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Research Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/research/cake.png', alt='')
                                    // Research Modal - Text
                                    p.mb-5
                                        | My research interests are very fluid - the field of NLP is so diverse and deep that I become fascinated by most of the work that I get my hands on. In general, I enjoy the most working on those parts of NLP which involve discourse analysis, dialogue and comprehension, especially in a translation scenario. Recently I also became interested in interpretability and disentanglement.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Research Modal 3
        #researchModal3.research-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='researchModal3Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Research Modal - Title
                                    h2.research-modal-title.text-secondary.text-uppercase.mb-0#researchModal3Label Publications
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Research Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/research/circus.png', alt='')
                                    // Research Modal - Text
                                    p.mb-5
                                        | TBA!
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
